.container {
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 20px;
}

.header h1{
  margin-left: 25px;
}

.movieList {
  align-content: center;
}

.movie {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}